.profile-wrapper {
    padding: 20px;
    grid-area: cnt;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    /* background-size: cover; */
    background-repeat: repeat;
    background-color: rgba(187, 74, 74, 0.699);
    background-blend-mode: darken;
    /* width: 100vw; */
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: #9A5EB2;
    font-size: 6vw;
}

.welcome h2 {
    font-family: "Arcade";
    color: rgb(97, 143, 97);
}

.userName {
    text-decoration: underline;
    text-transform: capitalize;
    /* color: #9A5EB2; */
    color: rgb(107, 156, 107);
    font-family: "Arcade";
    font-size: 8vw;
    font-style: italic;
}

.userName:hover {
    /* color: hsl(283, 32%, 43%); */
    color: rgb(97, 143, 97);
}

.scores-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-left: 50px;
    /* background: rgb(107, 156, 107); */
    /* background: rgba(187, 74, 74); */
    background: rgba(138, 82, 160, 0.607);
    border-radius: 15px;
    width: 80vw;
}

.top-title {
    font-family: "Arcade";
    font-weight: bold;
    font-size: 7vw;
}

.scores-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-score {
    padding: 10px;
    font-size: 5vw;
}

.player {
    font-family: "Arcade";
    font-weight: bold;
    font-size: 6.5vw;
    text-transform: capitalize;
}

.best-score {
    font-family: "Arcade";
}

.best-score span {
    font-family: "Arcade";
    color: #CD5454;
    font-size: 1.5em;
    line-height: 20px;
}

.smallAvatar {
    max-width: 50px;
    padding-bottom: 3px;
    font-size: 10px;
    font-weight: normal;
}

@media only screen and (min-width: 1200px) {
    .scores-container {
        padding-left: 200px;
        width: 70vw;
    }
    .userName {
        padding: 0px;
    }
    .smallAvatar {
        max-width: 100px;
        padding-bottom: 15px;
    }
}